h1 {
    text-align: center;

    margin: 0 auto;
    animation:  animate 1.5s linear;
} 
@keyframes animate
{
    0%
    {
        opacity: 0;

    }
}

#img4 {

    padding-top: 5%;
    padding-left: 43%;
    animation:  animate 1.5s linear;
} 
@keyframes animate
{
    0%
    {
        opacity: 0;

    }
}

#img5 {

    padding-top: 2%;
    padding-left: 15%;
    animation:  animate 1.5s linear;
} 
@keyframes animate
{
    0%
    {
        opacity: 0;

    }
}




#img1 {

    padding-top: 5%;


    animation:  animate 1.5s linear;
} 
@keyframes animate
{
    0%
    {
        opacity: 0;

    }
}


#img2 {

    padding-top: 5%;
    padding-left: 3.5%;
    animation:  animate 1.5s linear;
} 
@keyframes animate
{
    0%
    {
        opacity: 0;

    }
}
#img3 {

    padding-top: 5%;
    padding-left: 8.5%;
    width: 175px;
    width: 175px;

    animation:  animate 1.5s linear;
} 
@keyframes animate
{
    0%
    {
        opacity: 0;

    }
}

#img6 {

    padding-top: 4%;
    padding-left: 14%;
    
    animation:  animate 1.5s linear;

} 
@keyframes animate
{
    0%
    {
        opacity: 0;

    }
}
#img7 {

    padding-top: 5%;
    padding-left: 43%;
    animation:  animate 1.5s linear;
} 
@keyframes animate
{
    0%
    {
        opacity: 0;

    }
}

#img8 {

    padding-top: 5%;
    padding-left: 15%;
    animation:  animate 1.5s linear;
} 
@keyframes animate
{
    0%
    {
        opacity: 0;

    }
}

#img1111 {
    padding-left: 5%;
    width: 55px;
    height: 45px;

}


#img5555 {

    width: 57px;
    height:45px;
    padding-top: 2%;
    padding-left: 44.5%;
    animation:  animate 1.5s linear;
} 
@keyframes animate
{
    0%
    {
        opacity: 0;

    }
}


#img4444 {

    width: 60px;
    height:45px;
    padding-top: 2%;
    padding-left: 15%;
    animation:  animate 1.5s linear;
} 
@keyframes animate
{
    0%
    {
        opacity: 0;

    }
}


#img3333 {

    width: 70px;
    height:50px;
    padding-top: 5%;
    padding-left: 44.5%;
    animation:  animate 1.5s linear;
} 
@keyframes animate
{
    0%
    {
        opacity: 0;

    }
}


#img2222 {

    width: 70px;
    height:45px;
    padding-top: 5%;
    padding-left: 15%;
    animation:  animate 1.5s linear;
} 
@keyframes animate
{
    0%
    {
        opacity: 0;

    }
}


#s1 {
    padding-left: 45%;

}
#s2 {
    padding-left: 18%;

}
}
#s3 {
    padding-left: 10%;

}

#s5 {
    padding-left: 22%;

}

#s6 {
    padding-left: 39%;

}

#s4 {
    padding-left: 15%;
}

#s7 {
    padding-left: 44.5%;

}


#s8 {
    padding-left: 16.5%;
}

#img11111{
    width: 55px;
    height:45px;
    padding-top: 2%;
    padding-left: 15%;
    animation:  animate 1.5s linear;
} 
@keyframes animate
{
    0%
    {
        opacity: 0;

    }
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    img {
        width: 350px;
        height: 350px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

    h1{
        font-size: 20px;
       padding-left: 10%;
    }
    #img1, #img2, #img6, #img5, #img4, #img7, #img8 {
        width: 25px;
        height: 25px;
    }
    #img3 {
        width: 40px;
        height: 40px;
    }
    
    #img1111, #img3333, #img2222, #img5555, #img4444{
        width: 15px;
        height: 15px;
    }

    #img11111 {
        width: 17px;
        height: 12px;
    }
    #s1, #s2, #s3, #s4, #s5, #s6, #s7, #s8 {
        font-size: 10px;
    }

    #s3 {
            padding-left: 0px;
    }
    #img1 {
        padding-left: 10px;
    }
    #s4 {
        padding-left: 40px;
}
    #img2 {
        padding-left: 5px;
}
    #s5 {
        padding-left: 16%;
}
    #s1,   #s7{
        padding-left: 43%;
}
    #s2 {
        padding-left: 14%;

    }


     #s8 {
        padding-left: 9%;

    }
    #s6 {
        padding-left: 33%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1{
        font-size: 20px;
       padding-left: 10%;
    }
    #img1, #img2, #img6, #img5, #img4, #img7, #img8 {
        width: 25px;
        height: 25px;
    }
    #img3 {
        width: 40px;
        height: 40px;
    }
    
    #img1111, #img3333, #img2222, #img5555, #img4444{
        width: 15px;
        height: 15px;
    }

    #img11111 {
        width: 17px;
        height: 12px;
    }
    #s1, #s2, #s3, #s4, #s5, #s6, #s7, #s8 {
        font-size: 10px;
    }

    #s3 {
            padding-left: 0px;
    }
    #img1 {
        padding-left: 10px;
    }
    #s4 {
        padding-left: 40px;
}
    #img2 {
        padding-left: 5px;
}
    #s5 {
        padding-left: 16%;
}
    #s1,   #s7{
        padding-left: 43%;
}
    #s2 {
        padding-left: 14%;

    }


     #s8 {
        padding-left: 9%;

    }
    #s6 {
        padding-left: 33%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}